---
ignore: |
  *.enc.yaml
  k8s/base/flux-system/gotk-components.yaml
  k8s/flux-system/gotk-components.yaml

extends: default

rules:
  comments:
    min-spaces-from-content: 1
  line-length: disable
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
