---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  chart:
    spec:
      chart: headlamp
      version: 0.35.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
  interval: 5m
  values:
    config:
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true
          name: oidc
    ingress:
      enabled: true
      hosts:
        - host: headlamp.homelab.local
          paths:
            - path: /
              type: ImplementationSpecific
